[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mutagen = "*"
pillow = "*"
spotipy = "*"
youtube-search = "*"
pytube = "*"

[dev-packages]
pyinstaller = "*"
autopep8 = "*"
