[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
certifi = "*"
charset-normalizer = "*"
idna = "*"
mutagen = "*"
pycodestyle = "*"
pytube = "*"
requests = "*"
six = "*"
spotipy = "*"
toml = "*"
urllib3 = "*"
youtube-search = "*"
Pillow = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
